<div class="login-page" *ngIf="!register">
    <div class="form">
        <p><b>Síntesi</b></p><br>
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="login-form">
            <input placeholder="email" id="username" name="username" type="text" formControlName="username">
            <input placeholder="password" id="password" name="password" type="password" formControlName="password">
            <p style="color: red;" *ngIf="error">Email or password incorrect</p>
            <button  type="submit" [disabled]="!signinForm.valid " [ngClass]="{'disabled' : !signinForm.valid }" >login</button>
        </form>
        <div *ngIf="loading" class="overlay navbar-inverse">
            <div class="parent spin"><div class="verticalAlign">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate verticalAlign"></span></div></div>
        </div>
        <br>
        <button (click)="onRegister()">Register</button>
    </div>
</div>

<div *ngIf="register">
    <div class="login-page">
        <div class="form">
            <p><b>Síntesi</b></p><br>
            <form [formGroup]="signinFormR" (ngSubmit)="onSubmitRegister()" class="login-form">
                <input placeholder="name" id="name" name="name" type="text" formControlName="name">
                <input placeholder="email" id="email" name="email" type="email" formControlName="email">
                <input placeholder="phone" id="phone" name="phone" type="phone">
                <input placeholder="password" id="passwordRegister" name="password" type="password" formControlName="password">
                <button type="submit" [disabled]="!signinFormR.valid " [ngClass]="{'disabled' : !signinFormR.valid }" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Register</button>
            </form>

            <div *ngIf="loadingR" class="overlay navbar-inverse">
                <div class="parent spin"><div class="verticalAlign">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate verticalAlign"></span></div></div>
            </div>
            <p>Already have an account? <a (click)="onRegister(true)" href="#">Log In.</a></p>
        </div>
    </div>
</div>


<!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>An authentication code has send:</p> <input type="text" [(ngModel)]="authCode">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="sendAuthCode()" type="button" class="btn btn-default" data-dismiss="modal">Send</button>
            </div>
        </div>

    </div>
</div>