<!--<input type="button" value="tiesto" (click)="pipo()">-->
<!--<input type="button" value="connect" (click)="pipa()">-->
<!--<input type="button" value="disconnect" (click)="close()">-->

<!--&lt;!&ndash;{{test}}&ndash;&gt;-->


<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-6">&ndash;&gt;-->
        <!--&lt;!&ndash;<div style="display: block;">&ndash;&gt;-->
            <!--&lt;!&ndash;<canvas baseChart width="400" height="400"&ndash;&gt;-->
                    <!--&lt;!&ndash;[datasets]="lineChartData"&ndash;&gt;-->
                    <!--&lt;!&ndash;[labels]="lineChartLabels"&ndash;&gt;-->
                    <!--&lt;!&ndash;[options]="lineChartOptions"&ndash;&gt;-->
                    <!--&lt;!&ndash;[colors]="lineChartColors"&ndash;&gt;-->
                    <!--&lt;!&ndash;[legend]="lineChartLegend"&ndash;&gt;-->
                    <!--&lt;!&ndash;[chartType]="lineChartType"&ndash;&gt;-->
                    <!--&lt;!&ndash;(chartHover)="chartHovered($event)"&ndash;&gt;-->
                    <!--&lt;!&ndash;(chartClick)="chartClicked($event)"></canvas>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="col-md-6" style="margin-bottom: 10px">&ndash;&gt;-->
    <!--&lt;!&ndash;<table class="table table-responsive table-condensed">&ndash;&gt;-->
    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
    <!--&lt;!&ndash;<th *ngFor="let label of lineChartLabels">{{label}}</th>&ndash;&gt;-->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--&lt;!&ndash;<tr *ngFor="let d of lineChartData">&ndash;&gt;-->
    <!--&lt;!&ndash;<td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>&ndash;&gt;-->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--&lt;!&ndash;</table>&ndash;&gt;-->
    <!--&lt;!&ndash;<button (click)="randomize()">CLICK</button>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->