<div class="kn">
    <div *ngIf="loggedIn">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css" rel="stylesheet">

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<a class="navbar-brand">-->
                <!--<img src="assets/img/ngx-bootstrap.svg" class="logo">-->
                <!--</a>-->
                <span class="navbar-brand">ARMAGEDON</span>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a href="#"
                       target="_blank">SERVER STATUS</a>
                </li>
                <li>
                    <a href="#"
                       target="_blank">ARMAGEDON UM</a>
                </li>
                <li style="float: right;" (click)="logout()">
                    <a href="#">LOGOUT</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="blue" style="color:#2196F3; text-align: center; padding-top: 0.4em; padding-bottom: 0.4em;">
                    <b style="color: red;">ARMAGEDON</b> CLOUD SERVICE</h1>
                <!--IIS-->
            </div>
        </div>
        <!--<button class="btn btn-primary" onclick="window.open('https://seu31.gdc-leinf01.t-systems.com/confluence/display/STRIVE/UM+EA+Repo+Server+ea-server.t-systems.com+-+Information+Status+and+Downtime','_blank')"> SERVER STATUS </button>-->
        <!--<button class="btn btn-primary" onclick="window.open('https://seu31.gdc-leinf01.t-systems.com/confluence/display/STRIVE/Unified+Model+Service','_blank')"> STRIVE UM </button>-->

        <div id="bottomer" class="row">
            <div class="col-md-4">
                <div class="jumbotron l"><p><b>Total average: </b>{{cpuAvg}}</p></div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-header-blue">
                            <h1 class="card-heading">Cpu Usage Information</h1>
                        </div>
                        <div class="card-body">
                            <p class="card-p">
                                <app-graphs-with-socket [info5]="initArr" [perc]="jsonJson['cpu']"
                                                        [type]="cpu"></app-graphs-with-socket>
                                <!--<input type="button" value=" - ZOOM - " (click)="asa('cpu')">-->
                            </p>
                        </div>
                        <nav class="nav-tabs">
                            <ul class="nav nav-pills pull-left">
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron l"><p><b>Total average: </b>{{memAvg}}</p></div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-header-red">
                            <h1 class="card-heading">Memory Usage Information</h1>
                        </div>
                        <div class="card-body">
                            <p class="card-p">
                                <app-graphs-with-socket [info5]="initArrMem" [perc]="jsonJson['mem']"
                                                        [type]="mem"></app-graphs-with-socket>
                                <!--<input type="button" value=" - ZOOM - " (click)="asa('mem')">-->
                            </p>
                        </div>
                        <nav class="nav-tabs">
                            <ul class="nav nav-pills pull-left">
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="jumbotron l"><p><b>Total average: </b>{{netAvg}}</p></div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-header-grey">
                            <h1 class="card-heading">Network Recieved Mbps</h1>
                        </div>
                        <div class="card-body">
                            <p class="card-p">
                                <app-graphs-with-socket [info5]="initArrNet" [perc]="jsonJson['net']"
                                                        [type]="net"></app-graphs-with-socket>
                                <!--<input type="button" value=" - ZOOM - " (click)="asa('net')">-->
                            </p>
                        </div>
                        <nav class="nav-tabs">
                            <ul class="nav nav-pills pull-left">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="checkCpu" class="col-md-9">
            <app-graphs-with-socket [info5]="initArr" [perc]="jsonJson['cpu']" [type]="cpu"></app-graphs-with-socket>
        </div>

        <div *ngIf="checkMem" class="col-md-9">
            <app-graphs-with-socket [info5]="initArrMem" [perc]="jsonJson['mem']" [type]="mem"></app-graphs-with-socket>
        </div>

        <div *ngIf="checkNet" class="col-md-9">
            <app-graphs-with-socket [info5]="initArrNet" [perc]="jsonJson['net']" [type]="net"></app-graphs-with-socket>
        </div>

    </div>

</div>

<div *ngIf="!loggedIn">
    <app-login></app-login>
</div>
</div>
